<!DOCTYPE html>
<html lang="<%= config.language %>" data-bs-theme="dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%- favicon_tag(theme.favicon) %>

  <%
  if (!config.author) {
    config.author = ""
  }

  var title = title = config.title;
  if (is_archive()){
    title = '全部文章' + config.author;
  } else if (is_post()){
    title = page.title;
  } else if (is_page()){
    title = page.title + ' - ' + config.author;
  } else if (is_tag()){
    title = 'Posts Related to ' + page.tag;
  }
  %>

  <title><%= title %></title>
  <meta name="author" content="<%- config.author %>">

  <!-- 自定义CSS样式 -->
  <%- css('css/custom') %>

  <!-- FancyBox 图片模态框 -->
  <% if (is_post()) { %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />
  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>
  <% } %>

  <!-- Bootstrap5 CDN样式 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">

  <!-- Bootstrap5 Icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <!-- 粒子效果JS -->
  <% if (theme.particles && theme.particles.enabled) { %>
  <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
  <% } %>

  <!-- 搜索框JS -->
  <% if(config.search){ %>
  <script src="/js/search.min.js" defer></script>
  <% } %>

</head>

<body>
  <!-- 横幅 -->
  <!-- partial('partial/banner') %> -->

  <!-- 导航栏 -->
  <header>
    <%- partial('partial/header/navbar') %>
  </header>

  <!-- 主题壁纸 -->
  <%- partial('partial/particless') %>

  <div class="container" style="height: 90px;">

  </div>

  <!-- 内容 -->
  <div class=" container-fluid justify-content-around p-2">
    <div class="row justify-content-center gx-2">
      <!-- 个性化侧边框 -->
      <aside class="col-xl-2 d-none d-lg-none d-xxl-block">
        <%- partial('partial/aside/lsb') %>
      </aside>

      <!-- 主体部分 -->
      <div class="col-xl-8 col-12 col-xxl-6">
        <div class="container rounded-4 p-4 shadow-lg blur">
          <%- body %>
        </div>
      </div>

      <!-- 右侧边框 -->
      <aside class="col-xl-2 d-none d-lg-none d-xl-block">
        <%- partial('partial/aside/rsb') %>
      </aside>
    </div>
  </div>


  <!-- 搜索拟态框 -->
  <%- partial('partial/search') %>

  <!-- 页脚 -->
  <footer>
    <%- partial('partial/footer/footer') %>
  </footer>

  <% if (is_post()) { %>
  <%- partial('partial/widget_overlay/widget_overlay') %>
  <script src="/js/gtop.js"></script>
  <% } %>

</body>

</html>